#nav-mobile li.search .search-wrapper input#search #search {
    display: block;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    height: 45px;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 45px 0 15px;
    border: 0;
}

.page-footer {
    background-color: #666666;
    text-align: center;
    position: fixed;
    height: 50px;
    bottom: 0%;
    left: 0%;
    right: 0%;
    flex: 1 0 auto;

}
.footer p {
    position: absolute;
    top: 45%;
    left: 35%;
    right: 35%;
    color: #ffffff;
}

.featured-body #crossroads {
    height: 75px;
    width: 200px;
}

.container {
    margin-bottom: 50%;
}

.slider .indicators .indicator-item.active {
    background-color: #0288d1;
  }

  .btn, .btn-large, .btn-small {
    background-color: #0288d1;
  }

  .btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: #03a9f4;
  }

  .btn:focus, .btn-large:focus, .btn-small:focus,
  .btn-floating:focus {
    background-color: #01579b;
  }
